<div class="bg-red-600 text-white text-center py-20">
  <h1 class="text-5xl font-bold mb-4">Welcome to Ecomm Djezzy</h1>
  <p class="text-xl mb-8">
    Your one-stop shop for all your e_commerce needs!
  </p>
  <%= link_to  "Shop Now", root_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
</div>

<div>
    
</div>